.repos-container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    padding: 29px 24px;
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.repos-name {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #0064EB;
    margin-bottom: 16px;
    text-decoration: none;
}

.repos-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

@media screen and (max-width: 700px) { 
    .repos-container {
        display: flex;
        justify-content: center;
        margin: 10px;
        width: 80%;
        margin: 10px;
        padding: 10px 16px;
    }
    .repos-name {
        font-size: 18px;
    }  
    .repos-description {
        font-size: 13px;
    }
}
