body {
  background-color: #E5E5E5;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 190px;
  height: 100px;
}

.main-container p {
  font-size: 22px;
  text-align: center;
}

.main-container img {
  font-size: 22px;
  text-align: center;
  margin-bottom: 14px;
}